@import 'reset';
@import 'variables/global';
@import 'themes/dark';
@import 'themes/light';

html {
	margin: 5dvh;
	background-color: black;
}

html,
body {
	height: 90vh;
}

body,
#root,
.app {
	height: 100%;
}

.app {
	font: var(--font-m);
	background: var(--bg-color);
	color: var(--primary-color);
	transition: background 1s;
	border-radius: 15px;
}
