@import 'reset';
@import 'variables/global';
@import 'themes/dark';
@import 'themes/light';

html {
	background-color: black;
}

#root {
	margin: 3vh;
}

.app {
	height: 94vh;
}

.app {
	font: var(--font-m);
	background: var(--bg-color);
	color: var(--primary-color);
	transition: background 1s;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
}
