.personalInfoLink {
	display: flex;
	gap: 10px;
	align-items: center;
	padding: 5px 10px;
	cursor: pointer;

	span {
		color: var(--text-color-gray);
	}
}

.personalInfoLink:hover {
	span {
		color: white;
	}
}

.diple {
	transition: transform 0.5s ease;
}

.diple.active {
	transform: rotate(90deg);
}
