.personalInfoLink {
	display: flex;
	gap: 10px;
	align-items: center;
	padding: 5px 10px;
	cursor: pointer;

	.diple {
		transition: transform 0.5s ease;
	}

	span {
		color: var(--text-color-gray);
	}
}

.personalInfoLink:hover {
	span {
		color: white;
	}
}

.personalInfoLink.active {
	.diple {
		transform: rotate(90deg);
	}

	span {
		color: white;
	}
}
