.aboutPersonalInfo {
	display: flex;
	flex-grow: 1;
}

.contacts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contacts p {
	padding: 5px;
}

.header {
	border-bottom: 1px solid var(--border-color-gray);
}

.tab span {
	color: var(--text-color-gray);
	padding: 10px;
}

.tab {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 180px;
	border-right: 1px solid var(--border-color-gray);
}

.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.personalMain {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 1fr;
}

.header {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 1fr;
}

.main {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 1fr;
	flex-grow: 1;
}