.bioPage {
	display: flex;
	flex-direction: column;
	padding: 10px;
	color: var(--text-color-gray);
}

.main {
	display: flex;
}

.codeContainer {
	display: flex;
}

.lineNumbers {
	width: 40px; // Ширина для номера строки
	text-align: right;
}

.lineNumber {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.textContainer {
	width: 100%;
	padding-left: 0.625rem; // 10px в rem
	word-wrap: break-word;
	overflow: hidden; // Скрывает переполнение
	white-space: pre-wrap; // Позволяет переносить текст на новую строку
}
