.helloPage {
	flex-grow: 1;
	display: flex;
	background: #011627 no-repeat center center fixed;
	padding-left: 212px;
	position: relative;
	overflow: hidden;
	border-radius: 15px;
}

.leftSide,
.console {
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 1;
}

.leftSide {
	height: 100%;
	margin-right: 60px;
}

.topText h5 {
	color: #e5e9f0;
	font-size: 18px;
	padding-left: 3px;
}

.topText h1 {
	color: #e5e9f0;
	font-size: 62px;
	line-height: 1;
	font-weight: 400;
}

.topText h3 {
	color: #4d5bce;
	font-size: 32px;
	margin-bottom: 2.5rem;
}

.bottomText {
	font-size: 16px;
	margin-block: 60px;
}

.bottomText p:last-child {
	color: #ffffff;
}

.commentJs {
	color: var(--text-color-gray);
	padding-bottom: 10px;
}

.console {
	height: 100%;
}

.snakeGame {
	border-radius: 8px;
	border: 1px solid #0c1616;
	background: linear-gradient(
		150deg,
		rgba(23, 85, 83, 0.7) 1.7%,
		rgba(67, 217, 173, 0.09) 81.82%
	);
	box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.3) inset;
	backdrop-filter: blur(32px);
}

.snakeContainer {
	margin: 12px;
	position: relative;

	display: flex;
}

.bolt {
	position: absolute;
}

.bolt:first-child {
	left: 0;
	top: 0;
}

.bolt:nth-child(2) {
	right: 0;
	top: 0;
}

.bolt:nth-child(3) {
	left: 0;
	bottom: 0;
}

.bolt:nth-child(4) {
	right: 0;
	bottom: 0;
}

.snakeWindow {
	position: relative;
	height: 320px;
	width: 192px;
	margin: 20px;
	border-radius: 8px;
	background: rgba(1, 22, 39, 0.84);
	box-shadow: 1px 5px 11px 0px rgba(2, 18, 27, 0.71) inset;
}

.backgroundBlur {
	position: absolute;
	left: 5%;
	top: -5%;
	opacity: 0.8;
}

.backgroundBlur img {
	height: 800px;
	width: 1500px;
}

.snakeSkip {
	color: white;
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 1rem;
	border: 1px solid white;
	padding: 0.5rem;
	border-radius: 20px;
}

.snakeSkip:hover {
	background-color: rgba(255, 255, 255, 0.2); /* White with 20% opacity */
}

.snakeStart {
	display: flex;
	color: #01080e;
	background-color: #fea55f;
	padding: 6px;
	border-radius: 8px;
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);
}

.snakeStart:hover {
	color: white;
}

.snakeKeys {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 15px;
}

.snakeKeys div {
	display: flex;
}

.snakeKeys button {
	background: none;
	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;
	margin: 2px;
}

.snakeMoveKeysContainer {
	background-color: #01142330;
	border-radius: 7px;
	padding: 10px;
	margin: 20px 25px 15px 0;
	z-index: 1;
}

.snakeMoveKeysContainer p {
	color: white;
}

.snakeKeys button {
	align-items: center;
	background-color: #010c15;
	border-radius: 10px;
	display: flex;
	height: 30px;
	justify-content: center;
	width: 45px;
}

.snakeKeys button:active,
.snakeKeys button.active {
	transform: translateY(2px);
	box-shadow: 0 0 10px #43d9ad;
}

.snakeKeys button:hover {
	box-shadow: 0 0 10px #43d9ad;
}
