.helloPage {
	display: flex;
	background: #011627 no-repeat center center fixed;
	padding-left: 40px;
	padding-top: 150px;
}

.topText h5 {
	color: #e5e9f0;

	font-family: 'Fira Code';
	font-size: 18px;
	font-style: normal;
	font-weight: 450;
	line-height: normal;
}

.topText h1 {
	color: #e5e9f0;

	font-family: 'Fira Code';
	font-size: 62px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.topText h3 {
	color: #4d5bce;

	font-family: 'Fira Code';
	font-size: 32px;
	font-style: normal;
	font-weight: 450;
	line-height: normal;
}

.bottomText {
	font-size: 16px;
	margin-top: 60px;
}

.bottomText p:last-child {
	color: #ffffff;
}

.commentJs {
	color: var(--text-color-gray);
}

.snakeGame {
	border-radius: 8px;
	border: 1px solid #0c1616;
	background: linear-gradient(
		150deg,
		rgba(23, 85, 83, 0.7) 1.7%,
		rgba(67, 217, 173, 0.09) 81.82%
	);
	box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.3) inset;
	backdrop-filter: blur(32px);
}

.snakeContainer {
	margin: 12px;
	position: relative;

	display: flex;
}

.leftSide {
	margin-right: 200px;
}

.bolt:first-child {
	position: absolute;
	left: 0;
	top: 0;
}

.bolt:nth-child(2) {
	position: absolute;
	right: 0;
	top: 0;
}

.bolt:nth-child(3) {
	position: absolute;
	left: 0;
	bottom: 0;
}

.bolt:last-child {
	position: absolute;
	right: 0;
	bottom: 0;
}

.snakeWindow {
	height: 250px;
	width: 150px;
	margin: 15px;
	border-radius: 8px;
	background: rgba(1, 22, 39, 0.84);
	box-shadow: 1px 5px 11px 0px rgba(2, 18, 27, 0.71) inset;
}

.snakeMoveKeysContainer {
	height: 180px;
	width: 180px;
}
