.helloPage {
	flex-grow: 1;
	display: flex;
	background: #011627 no-repeat center center fixed;
	padding-left: 212px;
	position: relative;
	overflow: hidden;
	border-inline: 1px solid var(--border-color-gray);
}

.backgroundBlur {
	position: absolute;
	pointer-events: none;
	left: 5%;
	top: -5%;
	opacity: 0.8;
}

.backgroundBlur img {
	height: 800px;
	width: 1500px;
}
