.navbar {
	display: grid;
	grid-template-columns: 212px 1fr;
	border: 1px solid var(--border-color-gray);
	background-color: var(--bg-color);
	border-radius: var(--app-radius) var(--app-radius) 0 0;
}

.logo {
	height: 100%;
}

.logo:hover {
	color: white;
	background: var(--bg-hovered-gray);
}

.logo h1 {
	color: #607b96;
	font-size: 1rem;
	padding: 10px 10px 10px 22px;
	border-right: 1px solid var(--border-color-gray);
}

.links {
	position: relative;
	width: 100%;
}

.links a {
	display: inline-flex;
	color: #607b96;
	font-size: 14px;
	padding: 10px;
	height: 100%;
	border-right: 1px solid var(--border-color-gray);
}

.links a:last-child {
	position: absolute;
	right: 0;
	border-left: 1px solid var(--border-color-gray);
	border-right: none;
}
