.navbar {
	display: flex;
	align-items: center;
	width: 100%;
	border: 1px solid #1d2d3d;
	border-radius: 10px 10px 0 0;
}

.logo h1 {
	color: var(--text-color-gray);
	font-size: var(--font-size-m);
}

.logo {
	margin-right: 210px;
	padding: 1rem 0 1rem 1.5rem;
}

.links {
	display: flex;
	width: 100%;
}

.links a {
	border: 1px solid #1d2d3d;
	padding: 1rem 2rem;
	font-size: var(--font-size-m);
	color: var(--text-color-gray);
}

a.active {
	border-bottom: 2px solid var(--active-link-color);
	color: #FFFFFF;
}

.links a:last-child {
	margin-left: auto;
}
