.appLink {
	color: var(--inverted-primary-color);
	text-decoration: none;
}

.appLink:hover {
	color: white;
	background: var(--bg-hovered-gray);
}

.active {
	border-bottom: 2px solid var(--active-link-color);
	color: white !important;
}

.primary {
	color: var(--inverted-secondary-color);
}

.secondary {
	color: var(--primary-color);
}
